<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose role</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <img src="/images/volunteer.png" style="width: 100px; height: 100px;" class="img-thumbnail" alt="...">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0 d-flex justify-content-center">
                    <li class="nav-item pe-3">
                        <a class="nav-link active" aria-current="page" href="#">Головна сторінка</a>
                    </li>
                    <li class="nav-item pe-3">
                        <a class="nav-link active" href="/volunteers">Індивідуальна допомога</a>
                    </li>

                </ul>
                <a href="/account">
                    <img src="/images/account.png" style="width: 80px; height: 80px;" class="img-fluid" alt="...">
                </a>

            </div>
        </div>
    </nav>
</header>
<div class="form-group mb-3">
    <a th:href="@{/register/adminRegistrationPage}"
       class="btn btn-primary btn-sm mb-3">Admin</a>
    <a th:href="@{/register/volunteerRegistrationPage}"
       class="btn btn-primary btn-sm mb-3">Volunteer</a>
    <a th:href="@{/register/clientRegistrationPage}"
       class="btn btn-primary btn-sm mb-3">Client</a>

    <span>Already registered? <a href="/" th:href="@{/login}">Login
                             here</a></span>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>